<%-
include('include/_header')
-%>
<%-
include('include/_navBar')
-%>
<!--MainSite-->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="/add_user" class="border-shadow">
                <span class="text-gradient">New User <i class="fa-solid fa-user-plus"></i></span>
            </a>
        </div>
        <!-- Form Handling -->
        <form action="/" method="POST">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>User Group</th>
                        <th>User Language</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Work Area</th>
                        <th>User Enabled</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <%-
                    include('include/_show')
                    -%>
                </tbody>
            </table>
        </form>
    </div>
</main>
<!--/MainSite-->
<%-
include('include/_footer')
-%>