<!-- Form Handling -->
<!-- to send a new user to MongoDB, use action to send to the right url -->
<form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">First Name: </label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Please enter users First Name">
        </div>
        <div class="form-group">
            <label for="lname" class="text-light">Last Name: </label>
            <input type="text" name="lname" value="" placeholder="Please enter users Last Name">
        </div>
        <div class="form-group">
            <label for="usergroup" class="text-light">User Group: </label>
            <input type="text" name="usergroup" value="" placeholder="Staff / Manager / Admin">
        </div>
        <div class="form-group">
            <label for="userlang" class="text-light">User Language: </label>
            <input type="text" name="userlang" value="" placeholder="English / Spanish / French">
        </div>

        <div class="form-group">
            <label for="username" class="text-light">Username: </label>
            <input type="text" name="username" value="" placeholder="Enter a username">
        </div>
        <div class="form-group">
            <label for="password" class="text-light">Username: </label>
            <input type="text" name="password" value="" placeholder="Add a password">
        </div>

        <div class="form-group">
            <label for="area" class="text-light">Work Area: </label>
            <input type="text" name="area" value="" placeholder="Default Work Area?">
        </div>
        
        <div class="form-group">
            <label for="gender" class="text-light">User Enabled: </label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value="Yes">
                <label for="radio-4" class="radio-label">Yes</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="status" value="No">
                <label for="radio-5" class="radio-label">No</label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update"><strong>Save New User</strong></button>
        </div>
    </div>               
</form>
<!-- /Form Handling -->