<tr>
    <td>1</td>
    <td>Alberto Prado</td>
    <td>1mafla97@solent.ac.uk</td>
    <td>Male</td>
    <td>Active</td>
    <td>
        <a href="/update_user" class="btn border-shadow update">
            <span class="text-gradient"><i class="fa-solid fa-user-pen"></i></span>
        </a>
        <a href="#" class="btn border-shadow delete">
            <span class="text-gradient"><i class="fa-solid fa-users-slash"></i></span>
        </a>
    </td>
</tr>