@import url('https://fonts.googleapis.com/css2?family=Love+Light&family=Poppins:ital,wght@0,100;0,400;1,200&family=Raleway:wght@300&family=Source+Sans+Pro:ital,wght@1,300&display=swap');

:root{
    --dark: rgb(20, 19, 19);
    --light: grey;
    --border: grey;
    --border-btn: rgb(44, 87, 168);
}

*{
    padding: 1px;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-style: black;
}

.container{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

#header nav{
    border-radius: 10px;
    background-color: rgb(102, 102, 194);
    padding: 3px 0;
    width: 100%;
}
.nav-brand{
    font-size: 40px;  
}
.text-dark{
    color: var(--dark);
}

.justify-between{
    justify-content: space-between;
}

.text-center{
    text-align: center;
}

.border-shadow{
    border: 1px solid var(--border-btn);
    box-shadow: 3px 3px 10px;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.inline{
    display: inline-block;
}

.text-light{
    color: var(--light);
}

.text-gradient{
    background: linear-gradient(to right, blue red);
    -webkit-background-clip: text;
    background-clip: text;
}

#site-main{
    margin-top: 20px;
}

#site-main .container .box-nav >a{
    font-size: 10px;
    padding: 5px 1px
}

#site-main .container .form{
    margin: 3px 0px;
}